.collections-overview {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 100px;
   padding: 20px;
 }

 @media (max-width: 700px) {
   .collections-overview {
      padding: 10px;
    }
}