.checkout-page {
   width: 55%;
   min-height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 78px auto;

   .checkout-header {
      width: 90%;
      height: 20px;
      padding: 10px 10px;
      position: fixed;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
      background: #ffffff;

      .header-block {
         text-transform: capitalize;
         width: 23%;
         &:first-child {
            width: 11%;
         }
         &:last-child {
            width: 8%;
            margin-right: 4%;
         }
      }
   }
   .cart-items {
      margin-top: 42.5px;
   }

   .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
   }
}

@media (max-width: 700px) {
   .checkout-page {
      width: 100%;
      .checkout-header {
         width: 100%;
         .header-block {
            text-transform: capitalize;
            width: 22%;

            &:last-child {
               width: 10%;
               margin-right: 4%;
            }
            &:first-child {
               margin-left: 8%;
               width: 30%;
            }
         }
      }
   }
   .total {
      margin-right: 25px;
      margin-bottom: 20px;
   }
}
