body {
   font-family: 'Open Sans Condensed';
 }
 
 a {
   text-decoration: none;
   color: black;
 }

 button,
 a:focus {
   outline: none !important;
   }

  .page-layout {
     display: flex;
     flex-direction: column;
     justify-content: center;
  }